torch
torchvision
supervision==0.18.0
transformers
ultralytics==8.3.70
numpy==1.26.4
opencv-python-headless
dill
accelerate
timm
einops==0.8.0
paddlepaddle==2.6.2
paddleocr==2.9.1
openai
runpod
Pillow
